---
import Card from "@components/CardDetails.astro";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.PUBLIC_API_URL);
  const hariList = await response.json();

  return hariList.map((hari) => ({
    params: { id: hari.id.toString() },
  }));
}

const { id } = Astro.params;
const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/${id}`);
const data = await response.json();
---

<Layout title=`Jadwal Hari - ${data.hari.nama_hari}`>
  <div>
    <a href="/" class="hover:text-gray-500 flex flex-row items-center gap-2"
      ><img src="/arrowleft.svg" alt="icon-details" class="w-4 h-4" /><p
        class="font-bold"
      >
        Kembali
      </p></a
    >
    <Card title={data.hari.nama_hari} description="Jadwal Hari ini..." />

    <section>
      <h3 class="text-xl font-semibold mb-2 mt-4">Asisten</h3>
      <div>
        {
          data.asisten.length > 0 ? (
            data.asisten.map((ast) => (
              <div class="max-w-sm rounded-xl overflow-hidden shadow-lg my-2 p-6 bg-[#FFFFFF] border-2 border-solid border-slate-950">
                <h2 class="font-bold text-2xl mb-3">{ast.nama_matkul}</h2>
                <p class="text-gray-700 text-base">{ast.nama_dosen}</p>
                <p class="text-gray-700 text-base">{ast.jam_matkul}</p>
              </div>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h3 class="text-xl font-semibold mb-2">Kuliah</h3>
      <div>
        {
          data.kuliah.length > 0 ? (
            data.kuliah.map((kls) => (
              <h1>
                {kls.nama_matkul} - {kls.nama_dosen} ({kls.jam_matkul})
              </h1>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h3 class="text-xl font-semibold mb-2">Piket</h3>
      <div>
        {
          data.piket.length > 0 ? (
            data.piket.map((pkt) => (
              <li>
                {pkt.shift_piket} ({pkt.jam_piket})
              </li>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>
  </div>
</Layout>
