---
import Card from "@components/CardDetails.astro";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.PUBLIC_API_URL);
  const hariList = await response.json();

  return hariList.map((hari) => ({
    params: { id: hari.id.toString() },
  }));
}

const { id } = Astro.params;
const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/${id}`);
const data = await response.json();
---

<Layout title=`Jadwal Hari - ${data.hari.nama_hari}`>
  <div class="min-h-screen">
    <a href="/" class="hover:text-gray-500 flex flex-row items-center gap-2"
      ><img src="/arrowleft.svg" alt="icon-details" class="w-4 h-4" /><p
        class="font-bold"
      >
        Kembali
      </p></a
    >
    <!-- <Card
      title={data.hari.nama_hari}
      description="Jadwal Hari ini..."
      image="/banner.svg"
    /> -->
    <main class="my-10">
      <p class="text-gray-700 text-2xl font-semibold">{data.hari.nama_hari}</p>
      <p class="text-gray-700 text-base">Jadwal Kamu Hari ini..</p>
    </main>

    <section>
      <h1
        class="bg-[#EDE3D5] text-[#63422B] rounded-full w-24 text-center font-semibold my-2"
      >
        Asisten
      </h1>
      <div>
        {
          data.asisten.length > 0 ? (
            data.asisten.map((ast) => (
              <div class="max-w-sm rounded-xl overflow-hidden shadow-lg my-2 p-6 bg-[#FFFFFF] ">
                <h2 class="font-bold text-lg ">{ast.nama_matkul}</h2>
                <p class="text-gray-700 text-base">{ast.nama_dosen}</p>
                <p class="text-gray-700 text-base">{ast.jam_matkul}</p>
              </div>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h1
        class="bg-[#CCE1F1] text-[#05456C] rounded-full w-24 text-center font-semibold my-2"
      >
        Kuliah
      </h1>
      <div>
        {
          data.kuliah.length > 0 ? (
            data.kuliah.map((kls) => (
              <div class="max-w-sm rounded-xl overflow-hidden shadow-lg my-2 p-6 bg-[#FFFFFF] ">
                <h2 class="font-bold text-lg">{kls.nama_matkul}</h2>
                <p class="text-gray-700 text-base">{kls.nama_dosen}</p>
                <p class="text-gray-700 text-base">{kls.jam_matkul}</p>
              </div>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h1
        class="bg-[#FDD6D4] text-[#901717] rounded-full w-24 text-center font-semibold my-2"
      >
        Piket
      </h1>
      <div>
        {
          data.piket.length > 0 ? (
            data.piket.map((pkt) => (
              <div class="max-w-sm rounded-xl overflow-hidden shadow-lg my-2 p-6 bg-[#FFFFFF] ">
                <h2 class="font-bold text-lg">{pkt.shift_piket}</h2>
                <p class="text-gray-700 text-base">{pkt.jam_piket}</p>
              </div>
            ))
          ) : (
            <p class="text-gray-700 text-base">Jadwal Kosong...</p>
          )
        }
      </div>
    </section>
  </div>
</Layout>
