---
import Card from "@components/CardDetails.astro";
import Image from "@components/ImageCall.astro";
import Layout from "@layouts/Layout.astro";

export async function getDataApi() {
  const response = await fetch(import.meta.env.PUBLIC_API_URL);
  const hariList = await response.json();

  return hariList.map((hari) => ({
    params: { id: hari.id.toString() },
  }));
}

const { id } = Astro.params;
const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/${id}`);
const data = await response.json();
---

<Layout title=`Jadwal Hari - ${data.hari.nama_hari}`>
  <div class="min-h-screen">
    <a href="/" class="hover:text-gray-500 flex flex-row items-center gap-2"
      ><img src="/arrowleft.svg" alt="icon-details" class="w-4 h-4" /><p
        class="font-bold"
      >
        Kembali
      </p></a
    >

    <main class="my-10 mx-3">
      <p class="text-gray-700 text-2xl font-semibold">{data.hari.nama_hari}</p>
      <p class="text-gray-700 text-base">Jadwal Kamu Hari ini..</p>
      <span class="flex flex-row gap-5 mt-3 mb-10">
        <Image link="/labicon.svg" alt="icon-lab" text="5" />
        <Image link="/kuliahicon.svg" alt="icon-kuliah" text="5" />
        <Image link="/piketicon.svg" alt="icon-piket" text="5" />
      </span>
    </main>

    <section>
      <h1
        class="bg-[#EDE3D5] text-[#63422B] rounded-full w-24 text-base text-center font-semibold my-2"
      >
        Asisten
      </h1>
      <div class="bg-[#F3F5F7] px-2 py-1 rounded-lg">
        {
          data.asisten.length > 0 ? (
            data.asisten.map((ast) => (
              <Card
                title={ast.nama_matkul}
                description={ast.nama_dosen}
                text={ast.jam_matkul}
              />
            ))
          ) : (
            <p class="text-gray-700 text-sm px-6 py-3 bg-[#FFFFFF] rounded-xl">
              Jadwal Kosong...
            </p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h1
        class="bg-[#CCE1F1] text-[#05456C] rounded-full w-24 text-center font-semibold my-2 text-base"
      >
        Kuliah
      </h1>
      <div class="bg-[#F3F5F7] px-2 py-1 rounded-lg">
        {
          data.kuliah.length > 0 ? (
            data.kuliah.map((kls) => (
              <Card
                title={kls.nama_matkul}
                description={kls.nama_dosen}
                text={kls.jam_matkul}
              />
            ))
          ) : (
            <p class="text-gray-700 text-sm px-6 py-3 bg-[#FFFFFF] rounded-xl">
              Jadwal Kosong...
            </p>
          )
        }
      </div>
    </section>

    <section class="mt-6">
      <h1
        class="bg-[#FDD6D4] text-[#901717] rounded-full w-24 text-center font-semibold my-2 text-base"
      >
        Piket
      </h1>
      <div class="bg-[#F3F5F7] px-2 py-1 rounded-lg">
        {
          data.piket.length > 0 ? (
            data.piket.map((pkt) => (
              <Card title={pkt.shift_piket} description={pkt.jam_piket} />
            ))
          ) : (
            <p class="text-gray-700 text-sm px-6 py-3 bg-[#FFFFFF] rounded-xl">
              Jadwal Kosong...
            </p>
          )
        }
      </div>
    </section>
  </div>
</Layout>
